@import 'normalize.css';

/* reset.css */

/* Box sizing border-box para garantir que a largura e a altura incluam o preenchimento e a borda */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin e padding para todos os elementos */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
figure,
figcaption,
blockquote,
address,
footer,
header,
nav,
section,
time,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* Remover decoração de texto para links */
a {
  text-decoration: none;
}

/* Define a fonte padrão e a cor do texto */
body {
  font-family: Arial, sans-serif;
  color: #333; /* ou a cor desejada */
}
